/* styles.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

#building {
  width: 20vw;
  height: 100vh;
  margin: auto;
  border: 2px solid #000;
  z-index: 999;
}

.level {
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #000;
  z-index: 999;
}

#elevator {
  width: 20vw;
  height: 33vh;
  background-color: #666;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
